<!DOCTYPE html>
    #parse ("templates/webpanel.vm")
    #parse ("templates/webitem.vm")
<html>
<head>
    <title>Welcome to the Atlassian RefApp!</title>
    <meta name="decorator" content="atl.general"/>
</head>
<body>
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <header class="aui-page-header">
                <div class="aui-page-header-inner">
                    <div class="aui-page-header-main">
                        <h1>Welcome to the Atlassian RefApp!</h1>
                    </div>
                </div>
            </header>

            <div class="aui-message closeable info">
                You might want to log in, by default, three users are available, admin, fred and
                barney. Their passwords are the same as their usernames.
            </div>

            <p>This application has no useful features whatsoever. It is intended to be used as a platform for testing
                cross product Atlassian plugins.

            <h2> Web Items</h2>

            #webitems("index-links", "index.links", $context)

            <div class="aui-message closeable hint">

                <p>Wondering how the above links got there? Just add a web item to your plugin:</p>

                    <pre>
                        &lt;web-item key="myLink" section="index.links" weight="40" application="refapp"&gt;
                            &lt;label key="My Link Name or I18n Key"&gt;
                            &lt;link linkId="myLinkId"&gt;/relative/or/absolute/path/to/my/link&lt;/link&gt;
                        &lt;/web-item&gt;
                    </pre>

                <p>Other places you can add links to include <code>system.admin/general</code>, <code>header.links</code> and
                    <code>footer.links</code>.
            </div>

            <h2>Web Panels</h2>

            <div>
                #webpanels("atl.refapp.index", $context)
            </div>

            <div class="aui-message closeable hint">
                <p>In addition to Web Items, you can also add Web Panels to the above section, for example:</p>

                    <pre>
                        &lt;web-panel key="myPanel" location="atl.refapp.index"&gt;
                            &lt;resource name="view" type="velocity" location="/relative/or/absolute/path/to/my/panel.vm"/&gt;
                        &lt;/web-panel&gt;
                    </pre>
            </div>
        </section>
    </div>
</div>
</body>
</html>
